type adspd, domain;
type adspd_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(adspd)

set_prop(adspd, adspd_prop)
set_prop(adspd, ctl_default_prop)
allow adspd property_socket:sock_file write;

allow adspd adspd_data_file:file create_file_perms;
allow adspd adspd_data_file:dir rw_dir_perms;

allow adspd adsp_serial_device:chr_file rw_file_perms;

allow adspd input_device:chr_file r_file_perms;
allow adspd input_device:dir search;

allow adspd system_prop:property_service set;

allow adspd adspd_socket:sock_file { read write };

allow adspd firmware_file:dir { r_dir_perms search};
allow adspd firmware_file:file r_file_perms;
allow adspd sysfs:dir r_dir_perms;
allow adspd sysfs:file rw_file_perms;
allow adspd sysfs_input:dir r_dir_perms;
allow adspd sysfs_input:file r_file_perms;
allow adspd sysfs_input:lnk_file read;
