allow audioserver adspd_socket:sock_file { write };
allow audioserver adspd:unix_stream_socket { connectto };
allow audioserver audio_cutback_data_file:dir { search };
allow audioserver qmuxd_socket:dir { add_name remove_name search write };
allow audioserver qmuxd_socket:sock_file { create setattr write unlink };
allow audioserver sysfs:dir { open read };
allow audioserver audioserver:socket { create read };
allow audioserver qmuxd:unix_stream_socket { connectto };
allow audioserver sysfs:file { open read };
allow audioserver self:socket create_socket_perms;
allowxperm audioserver self:socket ioctl msm_sock_ipc_ioctls;
