allow bluetooth wcnss_filter:unix_stream_socket connectto;
allow bluetooth firmware_file:dir search;
allow bluetooth firmware_file:file { getattr open read };
