type charge_only_mode, domain, domain_deprecated;
type charge_only_mode_exec, exec_type, file_type;
init_daemon_domain(charge_only_mode)

allow charge_only_mode self:capability { sys_boot dac_override dac_read_search sys_tty_config net_admin };

allow charge_only_mode self:netlink_kobject_uevent_socket create_socket_perms;

allow charge_only_mode chargeonly_data_file:dir rw_dir_perms;
allow charge_only_mode chargeonly_data_file:file rw_file_perms;
allow charge_only_mode graphics_device:dir { search r_dir_perms };
allow charge_only_mode graphics_device:chr_file rw_file_perms;
allow charge_only_mode input_device:dir { r_dir_perms search };
allow charge_only_mode input_device:chr_file { read open r_file_perms };
allow charge_only_mode tty_device:chr_file { read write open ioctl rw_file_perms };
allow charge_only_mode sysfs:file { read write open };
allow charge_only_mode sysfs_wake_lock:file { read write open };
allow charge_only_mode sysfs_battery_supply:dir search;
allow charge_only_mode sysfs_battery_supply:file { read open };
allow charge_only_mode sysfs_usb_supply:dir search;
allow charge_only_mode sysfs_usb_supply:file { read open };
allow charge_only_mode sysfs_usb:file write;

r_dir_file(charge_only_mode, sysfs_battery_supply)
r_dir_file(charge_only_mode, sysfs_usb_supply)
r_dir_file(charge_only_mode, sysfs_thermal);
r_dir_file(charge_only_mode, sysfs)

allow charge_only_mode sysfs_batteryinfo:file r_file_perms;
allow charge_only_mode batteryproperties_service:service_manager { add find };

# charge_only_mode needs to tell init to continue the boot
# process when running in charger mode.
set_prop(charge_only_mode, system_prop)
