allow cnd netmgrd:dir search;
allow cnd self:capability { chown dac_override fsetid net_raw setgid setuid };
allow cnd system_wpa_socket:sock_file unlink;
