dontaudit sudaemon adspd_prop:file *;
dontaudit sudaemon alarm_handled_prop:file *;
dontaudit sudaemon alarm_instance_prop:file *;
dontaudit sudaemon bg_boot_complete_prop:file *;
dontaudit sudaemon bg_daemon_prop:file *;
dontaudit sudaemon boot_animation_prop:file *;
dontaudit sudaemon boot_mode_prop:file *;
dontaudit sudaemon boottime_prop:file *;
dontaudit sudaemon coresight_prop:file *;
dontaudit sudaemon device_logging_prop:file *;
dontaudit sudaemon dolby_prop:file *;
dontaudit sudaemon dumpstate_options_prop:file *;
dontaudit sudaemon firstboot_prop:file *;
dontaudit sudaemon fm_prop:file *;
dontaudit sudaemon freq_prop:file *;
dontaudit sudaemon hw_rev_prop:file *;
dontaudit sudaemon logpersistd_logging_prop:file *;
dontaudit sudaemon manufacturedate_prop:file *;
dontaudit sudaemon net_dns_prop:file *;
dontaudit sudaemon nfc_nq_prop:file *;
dontaudit sudaemon opengles_prop:file *;
dontaudit sudaemon per_mgr_state_prop:file *;
dontaudit sudaemon persistent_properties_ready_prop:file *;
dontaudit sudaemon postprocessing_prop:file *;
dontaudit sudaemon qcom_ims_prop:file *;
dontaudit sudaemon qdma_prop:file *;
dontaudit sudaemon scr_enabled_prop:file *;
dontaudit sudaemon sdm_idle_time_prop:file *;
dontaudit sudaemon spcomlib_prop:file *;
dontaudit sudaemon sys_usb_configfs_prop:file *;
dontaudit sudaemon sys_usb_controller_prop:file *;
dontaudit sudaemon sys_usb_tethering_prop:file *;
dontaudit sudaemon theme_prop:file *;
dontaudit sudaemon uicc_prop:file *;
dontaudit sudaemon usf_prop:file *;
dontaudit sudaemon vendor_rild_libpath_prop:file *;
dontaudit sudaemon wcnss_prop:file *;
dontaudit sudaemon wifi_prop:file *;
dontaudit sudaemon wififtmd_prop:file *;
dontaudit untrusted_app_25 proc:file *;
dontaudit untrusted_app kgsl_debugfs:file *;
dontaudit untrusted_app proc:file *;
