type adspd_data_file, file_type, data_file_type;
type adspd_socket, file_type;
type audio_cutback_data_file, file_type, data_file_type;
type battery_data_file, file_type, data_file_type;
type chargeonly_data_file, file_type, data_file_type;
type cutback_data_file, file_type, data_file_type;
type cutback_socket, file_type;
type display_sysfs, sysfs_type, file_type;
type vib_sysfs, sysfs_type, file_type;
