get_prop(flags_health_check, boot_mode_prop)
get_prop(flags_health_check, bootloader_boot_reason_prop)
get_prop(flags_health_check, boottime_prop)
get_prop(flags_health_check, boottime_public_prop)
get_prop(flags_health_check, bpf_progs_loaded_prop)
get_prop(flags_health_check, bservice_prop)
get_prop(flags_health_check, camera_prop)
get_prop(flags_health_check, charger_prop)
get_prop(flags_health_check, cold_boot_done_prop)
get_prop(flags_health_check, coresight_prop)
get_prop(flags_health_check, cpu_variant_prop)
get_prop(flags_health_check, crash_prop)
get_prop(flags_health_check, ctl_adbd_prop)
get_prop(flags_health_check, ctl_apexd_prop)
get_prop(flags_health_check, ctl_bootanim_prop)
get_prop(flags_health_check, ctl_bugreport_prop)
get_prop(flags_health_check, ctl_console_prop)
get_prop(flags_health_check, ctl_default_prop)
get_prop(flags_health_check, ctl_dumpstate_prop)
get_prop(flags_health_check, ctl_fuse_prop)
get_prop(flags_health_check, ctl_gsid_prop)
get_prop(flags_health_check, ctl_hbtp_prop)
get_prop(flags_health_check, ctl_interface_restart_prop)
get_prop(flags_health_check, ctl_interface_start_prop)
get_prop(flags_health_check, ctl_interface_stop_prop)
get_prop(flags_health_check, ctl_LKCore_prop)
get_prop(flags_health_check, ctl_mdnsd_prop)
get_prop(flags_health_check, ctl_netmgrd_prop)
get_prop(flags_health_check, ctl_port-bridge_prop)
get_prop(flags_health_check, ctl_qmuxd_prop)
get_prop(flags_health_check, ctl_restart_prop)
get_prop(flags_health_check, ctl_rildaemon_prop)
get_prop(flags_health_check, ctl_sigstop_prop)
get_prop(flags_health_check, ctl_start_prop)
get_prop(flags_health_check, ctl_stop_prop)
get_prop(flags_health_check, ctl_vendor_imsrcsservice_prop)
get_prop(flags_health_check, ctl_vendor_wigigsvc_prop)
get_prop(flags_health_check, device_logging_prop)
get_prop(flags_health_check, diag_mdlog_prop)
get_prop(flags_health_check, dolby_prop)
get_prop(flags_health_check, dumpstate_options_prop)
get_prop(flags_health_check, dynamic_system_prop)
get_prop(flags_health_check, exported_audio_prop)
get_prop(flags_health_check, exported_bluetooth_prop)
get_prop(flags_health_check, exported_camera_prop)
get_prop(flags_health_check, exported_overlay_prop)
get_prop(flags_health_check, exported_wifi_prop)
get_prop(flags_health_check, fastbootd_protocol_prop)
get_prop(flags_health_check, firstboot_prop)
get_prop(flags_health_check, fm_prop)
get_prop(flags_health_check, freq_prop)
get_prop(flags_health_check, fst_prop)
get_prop(flags_health_check, gamed_prop)
get_prop(flags_health_check, graphics_config_prop)
get_prop(flags_health_check, graphics_vulkan_prop)
get_prop(flags_health_check, gsid_prop)
get_prop(flags_health_check, heapprofd_enabled_prop)
get_prop(flags_health_check, hw_rev_prop)
get_prop(flags_health_check, hwservicemanager_prop)
get_prop(flags_health_check, hwui_prop)
get_prop(flags_health_check, incremental_prop)
get_prop(flags_health_check, init_perf_lsm_hooks_prop)
get_prop(flags_health_check, init_svc_debug_prop)
get_prop(flags_health_check, ipacm_prop)
get_prop(flags_health_check, ipacm-diag_prop)
get_prop(flags_health_check, last_boot_reason_prop)
get_prop(flags_health_check, llkd_prop)
get_prop(flags_health_check, lmkd_prop)
get_prop(flags_health_check, location_prop)
get_prop(flags_health_check, logpersistd_logging_prop)
get_prop(flags_health_check, lowpan_prop)
get_prop(flags_health_check, lpdumpd_prop)
get_prop(flags_health_check, manufacturedate_prop)
get_prop(flags_health_check, mdm_helper_prop)
get_prop(flags_health_check, media_variant_prop)
get_prop(flags_health_check, mmc_prop)
get_prop(flags_health_check, mmi_prop)
get_prop(flags_health_check, mock_ota_prop)
get_prop(flags_health_check, mpdecision_prop)
get_prop(flags_health_check, msm_irqbalance_prop)
get_prop(flags_health_check, msm_irqbl_sdm630_prop)
get_prop(flags_health_check, net_dns_prop)
get_prop(flags_health_check, netd_prop)
get_prop(flags_health_check, netd_stable_secret_prop)
get_prop(flags_health_check, nfc_nq_prop)
get_prop(flags_health_check, nnapi_ext_deny_product_prop)
get_prop(flags_health_check, opengles_prop)
get_prop(flags_health_check, overlay_prop)
get_prop(flags_health_check, per_mgr_state_prop)
get_prop(flags_health_check, perfd_prop)
get_prop(flags_health_check, persistent_properties_ready_prop)
get_prop(flags_health_check, postprocessing_prop)
get_prop(flags_health_check, ppd_prop)
get_prop(flags_health_check, qcom_ims_prop)
get_prop(flags_health_check, qdma_prop)
get_prop(flags_health_check, qemu_gles_prop)
get_prop(flags_health_check, qti_prop)
get_prop(flags_health_check, rebootescrow_hal_prop)
get_prop(flags_health_check, reschedule_service_prop)
get_prop(flags_health_check, rmnet_mux_prop)
get_prop(flags_health_check, rmtfs_prop)
get_prop(flags_health_check, safemode_prop)
get_prop(flags_health_check, scr_enabled_prop)
get_prop(flags_health_check, sdm_idle_time_prop)
get_prop(flags_health_check, sensors_prop)
get_prop(flags_health_check, serialno_prop)
get_prop(flags_health_check, spcomlib_prop)
get_prop(flags_health_check, storage_config_prop)
get_prop(flags_health_check, surfaceflinger_display_prop)
get_prop(flags_health_check, sys_usb_configfs_prop)
get_prop(flags_health_check, sys_usb_controller_prop)
get_prop(flags_health_check, sys_usb_tethering_prop)
get_prop(flags_health_check, system_adbd_prop)
get_prop(flags_health_check, system_boot_reason_prop)
get_prop(flags_health_check, system_jvmti_agent_prop)
get_prop(flags_health_check, system_lmk_prop)
get_prop(flags_health_check, system_trace_prop)
get_prop(flags_health_check, test_boot_reason_prop)
get_prop(flags_health_check, test_harness_prop)
get_prop(flags_health_check, theme_prop)
get_prop(flags_health_check, time_prop)
get_prop(flags_health_check, traced_enabled_prop)
get_prop(flags_health_check, traced_lazy_prop)
get_prop(flags_health_check, traced_perf_enabled_prop)
get_prop(flags_health_check, uicc_prop)
get_prop(flags_health_check, userspace_reboot_config_prop)
get_prop(flags_health_check, userspace_reboot_exported_prop)
get_prop(flags_health_check, userspace_reboot_log_prop)
get_prop(flags_health_check, userspace_reboot_test_prop)
get_prop(flags_health_check, usf_prop)
get_prop(flags_health_check, vehicle_hal_prop)
get_prop(flags_health_check, vendor_mpctl_prop)
get_prop(flags_health_check, vendor_rild_libpath_prop)
get_prop(flags_health_check, vendor_security_patch_level_prop)
get_prop(flags_health_check, vendor_system_prop)
get_prop(flags_health_check, vendor_timekeep_prop)
get_prop(flags_health_check, vendor_wifi_prop)
get_prop(flags_health_check, vendor_wifi_version)
get_prop(flags_health_check, virtual_ab_prop)
get_prop(flags_health_check, vm_bms_prop)
get_prop(flags_health_check, wifi_prop)
get_prop(flags_health_check, wififtmd_prop)
get_prop(flags_health_check, wigig_prop)
get_prop(flags_health_check, xlat_prop)
