allow fsck efs_boot_dev:blk_file { read write getattr open ioctl };
allow fsck modem_efs_partition_device:blk_file { read write getattr open ioctl };
allow fsck self:capability { dac_override dac_read_search };
