allow fsck efs_boot_dev:blk_file { read write getattr open ioctl };
allow fsck modem_efs_partition_device:blk_file { read write getattr open ioctl };
allow fsck persist_block_device:blk_file { read write getattr open ioctl };
