# permission for wpa socket which IMS use to communicate
allow hal_wifi_supplicant ims:unix_dgram_socket sendto;
allow hal_wifi_supplicant_default proc_net:file write;
allow hal_wifi_default persist_file:file { open read write };
allow hal_wifi_supplicant_default device:chr_file { read open write };
