#allow init block_device:blk_file { create_file_perms setattr };
allow init shell_data_file:fifo_file getattr;
allow init sysfs_mpdecision:file getattr;

# Sometimes there are leftovers from recovery, allow init to fix those
allow init init:file relabelfrom;
allow init fuse:dir { relabelfrom read };
allow init fuse:file { relabelfrom getattr };

# Additional permissions
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;

allow init smem_log_device:chr_file { write ioctl };
allow init thermal_device:chr_file { write ioctl };

allow init self:socket { read write create bind };
allow init socket_device:sock_file { create setattr };

allow init diag_device:chr_file { ioctl };
allow init debugfs:file { write };
allow init diag_device:chr_file { write };

#allow init blkid_exec:file { getattr };
allow init clatd_exec:file { getattr };
#allow init dex2oat_exec:file { getattr };
allow init dnsmasq_exec:file { getattr };
allow init hostapd_exec:file { getattr };
allow init idmap_exec:file { getattr };
allow init ppp_exec:file { getattr };
allow init servicemanager:binder { call };
allow init ksbridgehsic_device:chr_file { write getattr };
allow init property_socket:sock_file { write getattr };
allow init rpmb_device:blk_file { write getattr };
allow init ssd_device:blk_file { write getattr };
allow init tee_device:chr_file { write getattr };
allow init block_device:blk_file { write };
allow init efsbridgehsic_device:chr_file { getattr write };
allow init hsic_device:chr_file { getattr write };
allow init video_device:chr_file { getattr write };
allow init ion_device:chr_file { getattr write };
allow init esoc_device:chr_file ioctl;
allow init gpu_device:chr_file { ioctl };
allow init hal_graphics_allocator_default:fd use;
allow init hal_wifi_supplicant_default:unix_dgram_socket sendto;
allow init ion_device:chr_file ioctl;
allow init ksbridgehsic_device:chr_file ioctl;
#allow init netd_socket:sock_file write;
allow init netd:unix_stream_socket connectto;
allow init rtc_device:chr_file ioctl;
allow init self:netlink_kobject_uevent_socket { bind create read getopt setopt };
allow init self:netlink_route_socket { create bind getattr nlmsg_read nlmsg_write read setopt write };
allow init self:netlink_xfrm_socket { bind create };
allow init self:rawip_socket { create getopt setopt };
allow init self:udp_socket ioctl;
allow init system_server:fd use;
allow init tee_device:chr_file ioctl;
allow init video_device:chr_file ioctl;
allow init wpa_socket:sock_file write;
allow init efs_boot_dev:blk_file write;
allow init self:capability sys_nice;
allow init adsp_serial_device:chr_file { ioctl };
allow init input_device:chr_file ioctl;
allow init sensors_device:chr_file { ioctl };
allow init self:netlink_socket { create bind read write };
allow init sysfs_block_iosched:dir relabelfrom;
allow init sysfs_block_iosched:file relabelfrom;
allow adspd sysfs_c55_ctrl:dir rw_dir_perms;
allow init sysfs_binder:file write;

#Init.rc chmod
allow init {
    sysfs_bluetooth_writable
    sysfs_devices_system_cpu
    sysfs_msm_power
    sysfs_thermal
    sysfs_wlan_fwpath
    sysfs_cpu_boost
    sysfs_kgsl
    sysfs_lowmemorykiller
    sysfs_msm_perf
    sysfs_ssr_recovery
    sysfs_block_iosched
    proc_bootinfo
    sysfs_leds_brightness
    sysfs_usb_lun
    sysfs_android_touch
    sysfs_cycapsense_fw
    sysfs_msm_subsys
    sysfs_c55_ctrl
    sysfs_stm401
    sysfs_graphics_fb0
    sysfs_atmel_mxt_ts
    sysfs_binder
    sysfs_usb_mass_storage
    sysfs_state_notifier
    sysfs_rmnet_usb
    sysfs_adreno_idler
    sysfs_net
    sysfs_cpufreq
}:file setattr;

allow init {
    sysfs_c55_ctrl
    sysfs_devices_system_cpu
    sysfs_msm_perf
    sysfs_msm_power
    sysfs_rmnet_usb
    sysfs_ssr_recovery
    sysfs_block_iosched
    sysfs_state_notifier
    sysfs_leds_brightness
    sysfs_cpufreq
    sysfs_adreno_idler
    sysfs_cpu_boost
    sysfs_kgsl
    sysfs_thermal
    sysfs_lowmemorykiller
    sysfs_usb_lun
    sysfs_binder
    sysfs_android_touch
    sysfs_wlan_fwpath
    proc_bootinfo
    proc
}:file rw_file_perms;

allow init {
    firmware_file
    var_file
    persist_file
}:dir mounton;

#Give all untill we add all paths to "genfs_contexts"
allow init sysfs:file create_file_perms;
allow init sysfs:dir create_dir_perms;

#MultiROM
allow init vendor_file:lnk_file create;
allow init proc_filesystems:file { getattr setattr };

# Allow init to bind mount loader config for media swcodec
allow init system_file:file mounton;

allow init proc_swap:file write;
