allow init atvc:file x_file_perms;
allow init block_device:blk_file { create_file_perms setattr };
allow init hob_block_device:blk_file { create_file_perms setattr };
allow init shell_data_file:fifo_file getattr;

# Sometimes there are leftovers from recovery, allow init to fix those
allow init init:file relabelfrom;
allow init fuse:dir { relabelfrom read };
allow init fuse:file { relabelfrom getattr };
