allow init_shell utags_block_device:blk_file r_file_perms;
allow init_shell fingerprint_prop:property_service set;
allow init_shell radio_prop:property_service set;
