# init ROM
type postinitrr_sh, domain, domain_deprecated, mlstrustedsubject;
type postinitrr_sh_exec, exec_type, file_type;

# Started by init
init_daemon_domain(postinitrr_sh)

# shell scripts need to execute /system/bin/sh and toolbox
allow postinitrr_sh shell_exec:file rx_file_perms;
allow postinitrr_sh toolbox_exec:file rx_file_perms;

allow postinitrr_sh sysfs_postinitrr_sh:file rw_file_perms;
allow postinitrr_sh sysfs_postinitrr_sh:dir search;
allow ueventd sysfs_postinitrr_sh:file w_file_perms;
