allow mediaserver firmware_file:dir search;
allow mediaserver firmware_file:file r_file_perms;
allow mediaserver socket_device:sock_file write;
allow mediaserver adspd:unix_stream_socket connectto;
allow mediaserver camera_prop:property_service set;
allow mediaserver adspd_socket:sock_file write;
allow mediaserver audio_cutback_data_file:dir search;
allow mediaserver audio_cutback_data_file:sock_file write;
allow mediaserver cutback_socket:sock_file write;
allow mediaserver proc:file read;
allow mediaserver init:unix_dgram_socket sendto;
allow mediaserver system_data_root_file:sock_file write;
allow mediaserver hal_configstore_default:binder call;
allow mediaserver hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
allow mediaserver default_android_service:service_manager add;
allow mediaserver audio_device:chr_file { open read write ioctl };
allow mediaserver sensorservice_service:service_manager { find };
binder_call(mediaserver, sensorservice_service);
allow mediaserver hal_lineage_camera_motor_hwservice:hwservice_manager find;
allow mediaserver cameraproxy_service:service_manager {add find};
allow mediaserver cameraserver_service:service_manager {add find};
allow mediaserver device:dir { open read };
allow mediaserver fwk_camera_hwservice:hwservice_manager {add find};
allow mediaserver hal_camera_hwservice:hwservice_manager {add find};
allow mediaserver hidl_base_hwservice:hwservice_manager {add find};
allow mediaserver sensor_privacy_service:service_manager {add find};
get_prop(mediaserver, exported_camera_prop)

