allow init diag_device:chr_file { ioctl };
allow init kernel:security { load_policy };
allow mediaserver system_file:file { execmod };
allow mm-qcamerad system_file:file { execmod };
allow system_app cne_service:service_manager { add };
allow toolbox init:fifo_file { getattr read write };
allow toolbox init:unix_stream_socket { connectto };
allow toolbox kernel:process { setsched };
allow toolbox property_socket:sock_file { write };
allow toolbox rmnet_mux_prop:property_service { set };
allow toolbox storage_file:dir { getattr };
allow toolbox sysfs_hsic_modem_wait:file { getattr setattr };
allow toolbox system_block_device:blk_file { ioctl open read };
allow toolbox system_file:dir { add_name };
allow toolbox system_prop:property_service { set };
allow toolbox toolbox:capability { chown dac_override };
allow untrusted_app mnt_media_rw_file:dir { getattr };
allow vold logd:dir { open };
allow vold logd:lnk_file { getattr read };
