allow init diag_device:chr_file { ioctl };
allow init kernel:security { load_policy read_policy };
allow mediaserver system_file:file { execmod };
allow mm-qcamerad system_file:file { execmod };
allow system_app cne_service:service_manager { add };
allow toolbox init:fifo_file { getattr read write };
allow toolbox init:unix_stream_socket { connectto };
allow toolbox kernel:process { setsched };
allow toolbox property_socket:sock_file { write };
allow toolbox rmnet_mux_prop:property_service { set };
allow toolbox storage_file:dir { getattr };
allow toolbox sysfs_hsic_modem_wait:file { getattr setattr };
allow toolbox system_block_device:blk_file { ioctl open read };
allow toolbox system_file:dir { add_name };
allow toolbox system_prop:property_service { set };
allow toolbox toolbox:capability { chown dac_override };
allow untrusted_app mnt_media_rw_file:dir { getattr };
allow vold logd:dir { open };
allow vold logd:lnk_file { getattr read };
allow qti_init_shell bluetooth_data_file:file { getattr };
allow bootanim rootfs:lnk_file { getattr };
allow batt_health rootfs:lnk_file { getattr };
allow init debugfs:file { write };
allow sysinit rootfs:lnk_file { getattr };
allow atvc rootfs:lnk_file { getattr };
allow qti_init_shell bluetooth_loader_exec:file { open read };
allow audioserver rootfs:lnk_file { getattr };
allow mediacodec rootfs:lnk_file { getattr };
allow mediadrmserver rootfs:lnk_file { getattr };
allow atvc rootfs:lnk_file { getattr };
allow init diag_device:chr_file { write };
allow system_server unlabeled:chr_file { unlink };
allow system_server unlabeled:file { unlink };
allow untrusted_app debugfs:dir { getattr open read };
allow mm-qcamerad permission_service:service_manager { find };
