type postinitrr, domain;
type postinitbhb, domain;

type postinitrr_exec, exec_type, file_type;
type postinitbhb_exec, exec_type, file_type;

init_daemon_domain(postinitrr)
init_daemon_domain(postinitbhb)

allow postinitrr shell_exec:file rx_file_perms;
allow postinitbhb shell_exec:file rx_file_perms;

unix_socket_connect(postinitrr, property, init)
unix_socket_connect(postinitbhb, property, init)

allow postinitrr device:file open;
allow postinitrr init:unix_stream_socket { getattr listen };

allow postinitbhb device:file open;
allow postinitbhb init:unix_stream_socket { getattr listen };
