# camera app
allow priv_app device:dir { open read };
# system to firmware folder
allow priv_app firmware_file:dir { search };
allow priv_app firmware_file:file { getattr open read };
allow priv_app proc_interrupts:file open;
allow priv_app sysfs_android_usb:file open;
allow priv_app proc_bus_pci:file { getattr open read };
allow priv_app sysfs_net:file { getattr open read };
