allow qti_init_shell btnvtool_exec:file rx_file_perms;
set_prop(qti_init_shell, mmi_prop)
set_prop(qti_init_shell, manufacturedate_prop)
set_prop(qti_init_shell, hw_rev_prop)
allow qti_init_shell block_device:blk_file { ioctl };
allow qti_init_shell ctl_default_prop:property_service  { set };
allow qti_init_shell net_radio_prop:property_service  { set };
allow qti_init_shell storage_file:dir { getattr };
allow qti_init_shell kernel:process { setsched };
allow qti_init_shell bluetooth_data_file:file { getattr };
allow qti_init_shell bluetooth_loader_exec:file { open read };
