allow system_server display_sysfs:file rw_file_perms;
allow system_server vib_sysfs:file rw_file_perms;
allow system_server system_ndebug_socket:fifo_file { getattr unlink };
allow system_server system_wpa_socket:fifo_file unlink;
allow system_server wpa_socket:fifo_file unlink;
allow system_server esoc_device:chr_file { open read };
allow system_server frp_block_device:blk_file { read write open };
allow system_server rild:unix_dgram_socket sendto;
allow system_server logd:dir { read write getattr open };
allow system_server netmgrd_socket:dir r_dir_perms;
unix_socket_connect(system_server, netmgrd, netmgrd)
allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;
allow system_server block_device:blk_file { getattr };
allow system_server sensors_device:chr_file { ioctl open read };
allow system_server default_android_service:service_manager { add find };
allow system_server sysfs_leds_brightness:file rw_file_perms;
allow system_server default_android_hwservice:hwservice_manager find;
