allow webview_zygote zygote:unix_dgram_socket write;
allow webview_zygote ion_device:chr_file { getattr open read };
allow webview_zygote zygote_exec:file rw_file_perms;
allow webview_zygote app_data_file:dir r_dir_perms;
