allow zygote zygote:capability { sys_nice };
allow zygote proc_cmdline:file { getattr open read };
allow app_zygote app_data_file:dir getattr;
allow app_zygote ion_device:chr_file { getattr open read };
