allow zygote user_service:service_manager { find };
allow zygote package_service:service_manager { find };
allow zygote activity_service:service_manager { find };
allow zygote device:file open;
allow zygote init:unix_stream_socket { getattr listen };
