on charger
    #low power governing
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1

on init
    # Boot with interactive governor.
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor  644 
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor  644 
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor  644 
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor  644 
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive

    chown root system /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 664 /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu2/online
    chmod 664 /sys/devices/system/cpu/cpu3/online

    #set stock freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq  644 
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2649600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq  644 
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2649600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq  644 
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2649600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq  644 
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2649600

on boot
    start postinitrr_sh

on property:sys.boot_completed=1

    # Configure the hardware properly
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/suspend_enabled 1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/module/msm_thermal/core_control/enabled 1
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1

    # Configure the CPU governor
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1400000:40000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1497600
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1500000:90 1800000:70"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 100000
    write /dev/cpuctl/cpu.notify_on_migrate 0

    # Configure the cpu-boost module
    write /sys/module/cpu_boost/parameters/input_boost_freq 1497600
    write /sys/module/cpu_boost/parameters/boost_ms 20
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

   #sync_threshold use stock value
   write /sys/module/cpu_boost/parameters/sync_threshold 1728000

    #Set io ahead for better performance,
    write /sys/block/mmcblk0/queue/read_ahead_kb 512

    # Set io ahead for better performance
    setprop sys.io.scheduler noop

    # Tune LMK
    write /sys/module/lowmemorykiller/parameters/minfree 44032,48640,53248,57856,62464,71680

    # GPU max clock 500hz
    write /sys/devices/fdb00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 500000000

service postinitrr_sh /system/bin/sh /sbin/post_init_rr.sh
    class main
    user root
    seclabel u:r:init:s0
    disabled
    oneshot

# isu daemon
service isu_daemon /system/xbin/isu --daemon
    seclabel u:r:sudaemon:s0

on property:persist.sys.root_access=0
    stop isu_daemon

on property:persist.sys.root_access=2
    start isu_daemon

on property:persist.sys.root_access=1
    start isu_daemon

on property:persist.sys.root_access=3
    start isu_daemon
# isu daemon end
