# Copyright (c) 2014, Motorola Mobilit L. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log qcom_diag
    disabled

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log qcom_diag net_admin
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag qcom_diag log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    setprop net.lte.volte_call_capable true

service cnd /system/bin/cnd
    class late_start
    socket cnd stream 660 root inet

on property:sys.ims.rcs=1
    setprop persist.radio.calls.on.ims true
    setprop persist.radio.jbims 1
    setprop persist.radio.domain.ps 0
    setprop persist.radio.VT_ENABLE 1
    setprop persist.radio.VT_HYBRID_ENABLE 1
    setprop persist.radio.ROTATION_ENABLE 1
    setprop persist.radio.REVERSE_QMI 0
    setprop persist.radio.RATE_ADAPT_ENABLE 1
    setprop persist.rcs.supported 1
    setprop persist.ims.enableADBLogs 1
    setprop persist.ims.enableDebugLogs 1
    setprop persist.rmnet.mux enabled
    # epdg configuration
    setprop persist.cne.feature 1
    setprop persist.data.netmgrd.qos.enable true
    setprop persist.data.iwlan.enable true
    setprop persist.sys.cnd.iwlan 1
    setprop persist.cne.logging.qxdm 3974
    pm enable com.qualcomm.qti.rcsbootstraputil
    pm enable com.qualcomm.qti.rcsimsbootstraputil

on property:sys.ims.rcs=0
    setprop persist.radio.calls.on.ims false
    setprop persist.radio.jbims 0
    setprop persist.radio.domain.ps 0
    setprop persist.radio.VT_ENABLE 0
    setprop persist.radio.VT_HYBRID_ENABLE 0
    setprop persist.radio.ROTATION_ENABLE 0
    setprop persist.radio.REVERSE_QMI 0
    setprop persist.radio.RATE_ADAPT_ENABLE 0
    setprop persist.rcs.supported 0
    setprop persist.ims.enableADBLogs 0
    setprop persist.ims.enableDebugLogs 0
    setprop persist.rmnet.mux disabled
    # epdg configuration
    setprop persist.cne.feature 0
    #setprop persist.data.netmgrd.qos.enable false
    setprop persist.data.iwlan.enable false
    setprop persist.sys.cnd.iwlan 0
    setprop persist.cne.logging.qxdm 0
    pm disable com.qualcomm.qti.rcsbootstraputil
    pm disable com.qualcomm.qti.rcsimsbootstraputil

on property:persist.radio.VT_ENABLE=1
   start imsqmidaemon

on property:persist.radio.VT_ENABLE=0
   stop ims_rtp_daemon
   stop imsdatadaemon
   stop imsqmidaemon
