on charger
    setprop ro.board.platform apq8084
    write /sys/class/leds/lcd-backlight/brightness 125
    write /sys/class/leds/charging/trigger "battery-full"
    write /sys/android_touch/doubletap2wake 1
    write /sys/android_touch/sweep2wake 15
    start thermal-com
    trigger init-set-cpu-perm
    trigger boot_completed-power
    trigger lowpower-charger

service charger /charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

on lowpower-charger
    # GPU max clock 600hz from kernel: arch/arm/boot/dts/qcom/apq8084-gpu.dtsi -> qcom,gpu-pwrlevels
    write /sys/devices/fdb00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 300000000
    write /sys/devices/fdb00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_pwrlevel 3
    start qcom-post_boot_charger

on init
    trigger init-set-cpu-perm
    start qcom-post_boot

on init-set-cpu-perm
    chown root system /sys/devices/system/cpu/cpu0/online
    chown root system /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 0664 /sys/devices/system/cpu/cpu0/online
    chmod 0664 /sys/devices/system/cpu/cpu1/online
    chmod 0664 /sys/devices/system/cpu/cpu2/online
    chmod 0664 /sys/devices/system/cpu/cpu3/online

on property:sys.boot_completed=1
    trigger init-set-cpu-perm
    start qcom-post_boot
    trigger boot_completed-power

on boot_completed-power
    # Configure the hardware properly
    write /sys/module/lpm_levels/enable_low_power/l2 4

    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/retention/suspend_enabled 1

    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/retention/suspend_enabled 1

    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/retention/suspend_enabled 1

    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/retention/suspend_enabled 1

    write /sys/module/msm_thermal/core_control/enabled 1

    # Configure the CPU governor
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 883200:40000 1190400:80000 2496000:100000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1497600
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "95 422400:58 652800:81 729600:74 883200:83 960000:8 1036800:6 1190400:85 2496000:87"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 30000
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /dev/cpuctl/cpu.notify_on_migrate 0

    # Configure the cpu-boost module
    write /sys/module/cpu_boost/parameters/boost_ms 0
    write /sys/module/cpu_boost/parameters/input_boost_freq 0
    write /sys/module/cpu_boost/parameters/input_boost_ms 0
    write /sys/module/cpu_boost/parameters/sync_threshold 0

    #Set io for better performance
    setprop sys.io.scheduler bfq

     # enable adreno_idler
     write /sys/module/adreno_idler/parameters/adreno_idler_active Y

    # bcl prevent hotplug control
    write /sys/devices/qcom,bcl.38/hotplug_mask 0

    # lmk
    write /sys/module/lowmemorykiller/parameters/minfree 44032,48640,53248,57856,62464,71680

    # Zram
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 25
    write /sys/block/zram0/max_comp_streams 4
    swapon_all /vendor/etc/fstab.qcom

    # GPU max clock 600hz from kernel: arch/arm/boot/dts/qcom/apq8084-gpu.dtsi -> qcom,gpu-pwrlevels
    write /sys/devices/fdb00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_gpuclk 600000000
    write /sys/devices/fdb00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/max_pwrlevel 0

    # Enable state_notifier
    write /sys/module/state_notifier/parameters/enabled 1
